<section class="service-header">
    <div class="service-header__content">
        <div class="service-header__bg">
            <img src="/images/about-header.webp" alt="" class="service-header__bg-image">
        </div>
        <h1 class="service-header__heading">
            О компании<br> «Интехкрансервис»
        </h1>
        <div class="service-header__bottom-row">
            <div class="service-header__text">
                «Интехкрансервис» была основана в 2001 году. С тех пор мы постоянно развиваемся и осваиваем новые
                направления вместе с официальным производителем
            </div>
        </div>
    </div>
</section>