<section class="about-director">
    <div class="about-director__content">
        <div class="about-director__photo-wrapper">
            <div class="about-director__photo-bg">
                <img src="/images/about-director.webp" alt="" class="about-director__photo-bg-image">
            </div>
            <div class="about-director__info">
                <div class="about-director__name">
                    Иван Иванов
                </div>
                <div class="about-director__role">
                    Генеральный директор
                </div>
            </div>
        </div>
        <div class="about-director__text-content">
            <div class="about-director__large-text">
                Вот уже более 20 лет мы являемся одним из стратегических партнёров, крупнейших Китайских производителей
                дорожно-строительной техники и коммерческого транспорта
            </div>
            <div class="about-director__small-text">
                Наша основная задача развивать это направление в России и в Татарстане, предоставляя новые возможности
                малому и среднему бизнесу, а также крупным промышленным объектам. Являясь официальным дилером и
                дистрибьютором XCMG в России,то мы сможем дать максимально выгодные цены.
            </div>
        </div>
    </div>
</section>