<section class="advantages js-cards-stacking">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Развиваемся c 2001 года
        </h2>
        <div class="advantages__row">
            <ol class="advantages__list js-stacking-list">
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Более 20 лет
                            </h3>
                            <img src="/images/advantages/1.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                продаем технику XCMG по всей России
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Доставим вовремя
                            </h3>
                            <img src="/images/advantages/2.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                ваш заказ в любой уголок страны
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Выездная бригада
                            </h3>
                            <img src="/images/advantages/3.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                по ремонту приезжает в любую точку России
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Гарантия на технику
                            </h3>
                            <img src="/images/advantages/4.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                до 2 лет на технику XCMG
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <a href="#" class="advantages__video">
                <div class="advantages__video-wrapper">
                    <img src="/images/director.webp" alt="" class="advantages__video-preview">
                </div>
                <div class="advantages__video-content">
                    <div class="advantages__video-row">
                        <div class="advantages__video-info">
                            <h3 class="advantages__video-title">
                                Иван Иванов
                            </h3>
                            <div class="advantages__video-role">
                                слово основателя компании
                            </div>
                        </div>
                        <div class="advantages__video-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    </div>
</section>