<section class="benefits">
    <div class="benefits__content">
        <h2 class="benefits__heading">
            Чтобы работа приносила удовольствие, мы...
        </h2>
        <div class="benefits__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-image-container">
                                <img src="/images/benefits/1.webp" alt="" class="benefits__slider-card-image">
                            </div>
                            <div class="benefits__slider-card-content">
                                <h3 class="benefits__slider-card-title">
                                    Развиваем сотрудников
                                </h3>
                                <div class="benefits__slider-card-text">
                                    Каждый квартал многие сотрудники проходят ревью, чтобы оценить свою работу и
                                    выделить скилы для прокачки.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-image-container">
                                <img src="/images/benefits/2.webp" alt="" class="benefits__slider-card-image">
                            </div>
                            <div class="benefits__slider-card-content">
                                <h3 class="benefits__slider-card-title">
                                    Создаем комфортные условия
                                </h3>
                                <div class="benefits__slider-card-text">
                                    Каждый квартал многие сотрудники проходят ревью, чтобы оценить свою работу и
                                    выделить скилы для прокачки.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-image-container">
                                <img src="/images/benefits/3.webp" alt="" class="benefits__slider-card-image">
                            </div>
                            <div class="benefits__slider-card-content">
                                <h3 class="benefits__slider-card-title">
                                    Заботимся о здоровье
                                </h3>
                                <div class="benefits__slider-card-text">
                                    Каждый квартал многие сотрудники проходят ревью, чтобы оценить свою работу и
                                    выделить скилы для прокачки.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="benefits__slider-card">
                            <div class="benefits__slider-card-image-container">
                                <img src="/images/benefits/4.webp" alt="" class="benefits__slider-card-image">
                            </div>
                            <div class="benefits__slider-card-content">
                                <h3 class="benefits__slider-card-title">
                                    Проходим тренинги
                                </h3>
                                <div class="benefits__slider-card-text">
                                    Каждый квартал многие сотрудники проходят ревью, чтобы оценить свою работу и
                                    выделить скилы для прокачки.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>