<section class="service-header">
    <div class="service-header__content">
        <div class="service-header__bg">
            <img src="/images/career-header.webp" alt="" class="service-header__bg-image">
        </div>
        <h1 class="service-header__heading">
            Работа, о которой<br> хочется рассказать
        </h1>
        <div class="service-header__bottom-row">
            <div class="service-header__advantages">
                <ol class="service-header__list">
                    <li class="service-header__list-item">
                        <div class="service-header__card">
                            <div class="service-header__card-text">
                                Более 100 сотрудников
                            </div>
                        </div>
                    </li>
                    <li class="service-header__list-item">
                        <div class="service-header__card">
                            <div class="service-header__card-text">
                                Стабильный карьерный рост
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <a href="#need-career" class="service-header__link js-anchor">
                Вакансии
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#scroll-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>