<section class="catalog-header">
    <div class="catalog-header__content">
        <div class="catalog-header__heading-text">
            Продажа техники
        </div>
        <h1 class="catalog-header__heading">
            Автокраны
        </h1>
        <form class="catalog-header__filters js-accordion" method="GET">
            <button class="catalog-header__filters-mobile-btn js-accordion-btn" type="button">
                Фильтры
                <span class="catalog-header__filters-mobile-btn-icons">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#filters"></use>
                    </svg>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#select-close"></use>
                    </svg>
                </span>

            </button>
            <div class="catalog-header__filters-dropdown">
                <div class="catalog-header__filters-dropdown-inner js-accordion-content">
                    <div class="catalog-header__filters-dropdown-wrapper">


                        <div class="catalog-header__filters-row">
                            <div class="catalog-header__filters-select">
                                <button class="catalog-header__filters-select-btn" type="button">
                                    Тип крана
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="catalog-header__filters-select-dropdown">
                                    <div class="catalog-header__filters-select-dropdown-inner">
                                        <ul class="catalog-header__filters-select-choices-list">
                                            <li class="catalog-header__filters-select-choices-list-item">
                                                <label class="catalog-header__filters-select-choice">
                                                    <input type="radio" name="type" value="Внедорожные"
                                                        class="catalog-header__filters-select-choice-input" checked="">
                                                    <span class="catalog-header__filters-select-choice-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-header__filters-select-choice-content">
                                                        Внедорожные
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="catalog-header__filters-select-choices-list-item">
                                                <label class="catalog-header__filters-select-choice">
                                                    <input type="radio" name="type" value="Вседорожные"
                                                        class="catalog-header__filters-select-choice-input">
                                                    <span class="catalog-header__filters-select-choice-mark">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="catalog-header__filters-select-choice-content">
                                                        Вседорожные
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-header__filters-range">
                                <button class="catalog-header__filters-range-btn" type="button">
                                    Грузоподъемность
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="catalog-header__filters-range-dropdown">
                                    <div class="catalog-header__filters-range-dropdown-inner">
                                        <div class="catalog-header__filters-range-slider js-range-slider-double"
                                            data-min="1500" data-max="4000" data-step="100">
                                            <div
                                                class="catalog-header__filters-range-slider-element js-range-slider-element">

                                            </div>
                                            <div class="catalog-header__filters-range-slider-inputs">
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Мин.
                                                    </div>
                                                </div>
                                                <div class="catalog-header__filters-range-slider-inputs-divider">

                                                </div>
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Макс.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-header__filters-range">
                                <button class="catalog-header__filters-range-btn" type="button">
                                    грузовой момент
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="catalog-header__filters-range-dropdown">
                                    <div class="catalog-header__filters-range-dropdown-inner">
                                        <div class="catalog-header__filters-range-slider js-range-slider-double"
                                            data-min="1500" data-max="4000" data-step="100">
                                            <div
                                                class="catalog-header__filters-range-slider-element js-range-slider-element">

                                            </div>
                                            <div class="catalog-header__filters-range-slider-inputs">
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Мин.
                                                    </div>
                                                </div>
                                                <div class="catalog-header__filters-range-slider-inputs-divider">

                                                </div>
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Макс.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-header__filters-range">
                                <button class="catalog-header__filters-range-btn" type="button">
                                    Масса
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="catalog-header__filters-range-dropdown">
                                    <div class="catalog-header__filters-range-dropdown-inner">
                                        <div class="catalog-header__filters-range-slider js-range-slider-double"
                                            data-min="1500" data-max="4000" data-step="100">
                                            <div
                                                class="catalog-header__filters-range-slider-element js-range-slider-element">

                                            </div>
                                            <div class="catalog-header__filters-range-slider-inputs">
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Мин.
                                                    </div>
                                                </div>
                                                <div class="catalog-header__filters-range-slider-inputs-divider">

                                                </div>
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Макс.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-header__filters-range">
                                <button class="catalog-header__filters-range-btn" type="button">
                                    Мощность
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="catalog-header__filters-range-dropdown">
                                    <div class="catalog-header__filters-range-dropdown-inner">
                                        <div class="catalog-header__filters-range-slider js-range-slider-double"
                                            data-min="1500" data-max="4000" data-step="100">
                                            <div
                                                class="catalog-header__filters-range-slider-element js-range-slider-element">

                                            </div>
                                            <div class="catalog-header__filters-range-slider-inputs">
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Мин.
                                                    </div>
                                                </div>
                                                <div class="catalog-header__filters-range-slider-inputs-divider">

                                                </div>
                                                <div class="catalog-header__filters-range-slider-input-wrapper">
                                                    <input type="tel"
                                                        class="catalog-header__filters-range-slider-input js-numeric-input-decimals">
                                                    <div
                                                        class="catalog-header__filters-range-slider-input-wrapper-label">
                                                        Макс.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="catalog-header__filters-submit" type="submit">
                            Показать
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>