<section class="categories">
    <div class="categories__content">
        <h1 class="categories__heading">
            Каталог
        </h1>
        <div class="categories__blocks">
            <div class="categories__block">
                <h2 class="categories__block-title">
                    Техника FAW
                </h2>
                <ul class="categories__list">
                    <li class="categories__list-item">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Самосвалы FAW
                            </h3>
                            <img src="/images/categories/1.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Тягачи FAW
                            </h3>
                            <img src="/images/categories/2.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item categories__list-item--large">
                        <a href="#" class="categories__card categories__card--orange">
                            <h3 class="categories__card-title">
                                Прочее
                            </h3>
                            <img src="/images/categories/3.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="categories__block">
                <h2 class="categories__block-title">
                    Техника XCMG
                </h2>
                <ul class="categories__list">
                    <li class="categories__list-item categories__list-item--large">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Дорожно-строительная техника
                            </h3>
                            <img src="/images/categories/4.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item categories__list-item--large">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Землеройная техника
                            </h3>
                            <img src="/images/categories/5.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item categories__list-item--large">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Крано-манипуляторы
                            </h3>
                            <img src="/images/categories/6.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item">
                        <a href="#" class="categories__card">
                            <h3 class="categories__card-title">
                                Башенные краны
                            </h3>
                            <img src="/images/categories/7.webp" alt="" class="categories__card-image">
                        </a>
                    </li>
                    <li class="categories__list-item">
                        <a href="#" class="categories__card categories__card--orange categories__card--blue-hover">
                            <h3 class="categories__card-title">
                                Прочее
                            </h3>
                            <img src="/images/categories/other.svg" alt="" class="categories__card-image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>