<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__top-row">
            <h1 class="contacts__heading">
                Контакты
            </h1>
            <div class="contacts__links">
                <a href="tel:+78006000083" class="contacts__phone">8-800-600-00-83</a>
                <a href="mailto:info@intexgk.ru" class="contacts__email">info@intexgk.ru</a>
            </div>
            <div class="contacts__offices">
                <h3 class="contacts__offices-title">
                    Время работы офисов
                </h3>
                <div class="contacts__offices-text">
                    8:00 - 17:00
                </div>
            </div>
        </div>
        <div class="contacts__map-wrapper js-map" data-pin-url="/images/pin.svg">
            <div class="contacts__map">
                <div class="contacts__map-element"></div>
            </div>
            <div class="contacts__map-offices js-tabs">
                <div class="contacts__map-offices-city">
                    <h3 class="contacts__map-offices-city-heading">
                        Город
                    </h3>
                    <div class="contacts__map-offices-city-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="contacts__map-offices-city-link js-tabs-btn">
                                        Казань
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="contacts__map-offices-city-link js-tabs-btn">
                                        Набережные Челны
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="contacts__map-offices-city-link js-tabs-btn">
                                        Чебоксары
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__map-offices-tabs">

                    <div class="contacts__map-offices-tabs-item js-tabs-item">
                        <div class="contacts__map-offices-addresses">
                            <h4 class="contacts__map-offices-addresses-heading">
                                Адреса
                            </h4>
                            <ul class="contacts__map-offices-addresses-list">
                                <li class="contacts__map-offices-addresses-list-item">
                                    <a href="#" class="contacts__map-offices-addresses-link"
                                        data-coords="55.864403, 49.030905">
                                        Обнорского, 30А
                                    </a>
                                </li>
                                <li class="contacts__map-offices-addresses-list-item">
                                    <a href="#" class="contacts__map-offices-addresses-link"
                                        data-coords="55.855836, 49.022305">
                                        Тэцевская, 197
                                    </a>
                                </li>
                                <li class="contacts__map-offices-addresses-list-item">
                                    <a href="#" class="contacts__map-offices-addresses-link"
                                        data-coords="55.799922, 49.254375">
                                        Мамадышский тракт, 50
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contacts__map-offices-tabs-item js-tabs-item">
                        <div class="contacts__map-offices-addresses">
                            <h4 class="contacts__map-offices-addresses-heading">
                                Адреса
                            </h4>
                            <ul class="contacts__map-offices-addresses-list">
                                <li class="contacts__map-offices-addresses-list-item">
                                    <a href="#" class="contacts__map-offices-addresses-link"
                                        data-coords="55.740760, 52.414622">
                                        просп. Хасана Туфана 12
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="contacts__map-offices-tabs-item js-tabs-item">
                        <div class="contacts__map-offices-addresses">
                            <h4 class="contacts__map-offices-addresses-heading">
                                Адреса
                            </h4>
                            <ul class="contacts__map-offices-addresses-list">
                                <li class="contacts__map-offices-addresses-list-item">
                                    <a href="#" class="contacts__map-offices-addresses-link"
                                        data-coords="56.051250, 47.264445">
                                        деревня Хирле-Сир ул. Лесная 26
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>