<section class="crane-slider">
    <div class="crane-slider__content">
        <div class="crane-slider__top-row">
            <h2 class="crane-slider__heading">
                Интехкрансервис
            </h2>
            <div class="crane-slider__text">
                Группа компаний, и мы предоставляем оборудование мирового производителя XCMG по всей России
            </div>
        </div>
        <div class="crane-slider__wrapper">
            <div class="crane-slider__arrows">
                <button class="crane-slider__arrow crane-slider__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="crane-slider__arrow crane-slider__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="crane-slider__inner-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="crane-slider__card">
                                <img src="/images/crane-slider/1.webp" alt="" class="crane-slider__card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="crane-slider__card">
                                <img src="/images/crane-slider/2.webp" alt="" class="crane-slider__card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="crane-slider__card">
                                <img src="/images/crane-slider/1.webp" alt="" class="crane-slider__card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="crane-slider__card">
                                <img src="/images/crane-slider/2.webp" alt="" class="crane-slider__card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>