<section class="directions js-fixed-section">
    <div class="directions__content">
        <div class="directions__left-col">
            <h2 class="directions__heading">
                Направления компании
            </h2>
            <div class="directions__links">
                <a href="#" class="directions__link active">
                    Продажа
                </a>
                <a href="#" class="directions__link">
                    Аренда
                </a>
                <a href="#" class="directions__link">
                    Обслуживание
                </a>
                <a href="#" class="directions__link">
                    Запчасти
                </a>
                <a href="#" class="directions__link">
                    Производство
                </a>
                <a href="#" class="directions__link">
                    Финансирование
                </a>
            </div>
        </div>
        <div class="directions__right-col">
            <div class="directions__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, sit!
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>