<section class="directions directions--standalone">
    <div class="directions__desktop-content">
        <div class="directions__left-col">
            <h2 class="directions__heading">
                Направления компании
            </h2>
            <div class="directions__links">
                <a href="#" class="directions__link active">
                    Продажа
                </a>
                <a href="#" class="directions__link">
                    Аренда
                </a>
                <a href="#" class="directions__link">
                    Обслуживание
                </a>
                <a href="#" class="directions__link">
                    Запчасти
                </a>
                <a href="#" class="directions__link">
                    Производство
                </a>
                <a href="#" class="directions__link">
                    Финансирование
                </a>
            </div>
        </div>
        <div class="directions__right-col">
            <div class="directions__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, sit!
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="directions__slider-card">
                                <div class="directions__slider-card-image-container">
                                    <img src="/images/directions.webp" alt="" class="directions__slider-card-image">
                                </div>
                                <div class="directions__slider-card-content">
                                    <div class="directions__slider-card-category">
                                        Обслуживание
                                    </div>
                                    <div class="directions__slider-card-text">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники
                                        от мирового производителя XCMG
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="directions__mobile-content">
        <h2 class="directions__mobile-heading">
            Направления компании
        </h2>
        <ul class="directions__accordions-list">
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Продажа
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Аренда
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Обслуживание
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Запчасти
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Производство
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="directions__accordions-list-item">
                <div class="directions__accordion js-accordion" data-close-other="">
                    <button class="directions__accordion-btn js-accordion-btn">
                        <span class="directions__accordion-btn-text">
                            Финансирование
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="directions__accordion-content js-accordion-content">
                        <div class="directions__accordion-content-inner">
                            <div class="directions__mobile-card">
                                <div class="directions__mobile-card-bg-wrapper">
                                    <img src="/images/directions.webp" alt="" class="directions__mobile-card-bg">
                                </div>
                                <div class="directions__mobile-card-content">
                                    <h4 class="directions__mobile-card-title">
                                        Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной
                                        техники от мирового производителя XCMG
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>