<div class="distributor js-cards-stacking">
    <div class="distributor__content">
        <h2 class="distributor__heading">
            Являемся официальным дистрибьютером КМУ бренда XCMG
        </h2>
        <div class="distributor__row">
            <div class="distributor__text">
                Поставляем дорожно-строительную, землеройную, грузовую автомобильную технику
            </div>

            <div class="distributor__wrapper">

                <ol class="distributor__list js-stacking-list">
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Подберем технику исходя из задач
                                на комфортных условиях
                            </h3>
                            <img src="/images/distrib/1.svg" alt="" class="distributor__card-image">
                        </div>
                    </li>
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Подберем технику исходя из задач
                                на комфортных условиях
                            </h3>
                            <img src="/images/distrib/2.svg" alt="" class="distributor__card-image">
                        </div>
                    </li>
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Подберем технику исходя из задач
                                на комфортных условиях
                            </h3>
                            <img src="/images/distrib/3.svg" alt="" class="distributor__card-image">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>