<div class="distributor js-cards-stacking">
    <div class="distributor__content">
        <h2 class="distributor__heading">
            В работе мы придерживаемся
            принципов
        </h2>
        <div class="distributor__row">
            <div class="distributor__wrapper">
                <ol class="distributor__list js-stacking-list">
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Ставим амбициозные цели
                            </h3>
                            <img src="/images/distrib/1.svg" alt="" class="distributor__card-image">
                            <div class="distributor__card-text">
                                Ведь лучший результат там, где вызов
                            </div>
                        </div>
                    </li>
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Любим то, чем занимаемся
                            </h3>
                            <img src="/images/distrib/2.svg" alt="" class="distributor__card-image">
                            <div class="distributor__card-text">
                                И не приемлем неуважение ни в каком виде
                            </div>
                        </div>
                    </li>
                    <li class="distributor__list-item">
                        <div class="distributor__card js-card">
                            <h3 class="distributor__card-title">
                                Командная работа
                            </h3>
                            <img src="/images/distrib/3.svg" alt="" class="distributor__card-image">
                            <div class="distributor__card-text">
                                Даже индивидуальной цели не достичь в одиночку
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>