<section class="press-center-header">
    <div class="press-center-header__content">
        <h1 class="press-center-header__main-heading">
            Документы
        </h1>

        <ul class="press-center-header__nav-list">
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link active">
                    все
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    лицензии
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    Спецификации
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    сертификаты
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    схемы
                </a>
            </li>
        </ul>

    </div>
</section>