<section class="documents">
    <div class="documents__content">
        <ul class="documents__list">
            {{#times 6}}
                <li class="documents__list-item">
                    <a href="#" class="documents__card">
                        <img src="/images/format-pdf.svg" alt="" class="documents__card-format-icon">
                        <h3 class="documents__card-title">
                            Спецификация HYUNDAI EVERDIGM HLC-3014.pdf
                        </h3>
                        <div class="documents__card-size">
                            2,2 МБ
                        </div>
                        <div class="documents__card-download">
                            <span class="documents__card-download-text">
                                Скачать
                            </span>

                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="documents__list-item">
                    <a href="#" class="documents__card">
                        <img src="/images/format-xls.svg" alt="" class="documents__card-format-icon">
                        <h3 class="documents__card-title">
                            Спецификация HYUNDAI EVERDIGM HLC-3014.pdf
                        </h3>
                        <div class="documents__card-size">
                            2,2 МБ
                        </div>
                        <div class="documents__card-download">
                            <span class="documents__card-download-text">
                                Скачать
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="documents__list-item">
                    <a href="#" class="documents__card">
                        <img src="/images/format-word.svg" alt="" class="documents__card-format-icon">
                        <h3 class="documents__card-title">
                            Спецификация HYUNDAI EVERDIGM HLC-3014.pdf
                        </h3>
                        <div class="documents__card-size">
                            2,2 МБ
                        </div>
                        <div class="documents__card-download">
                            <span class="documents__card-download-text">
                                Скачать
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="documents__list-item">
                    <a href="#" class="documents__card">
                        <img src="/images/format-pdf.svg" alt="" class="documents__card-format-icon">
                        <h3 class="documents__card-title">
                            Спецификация HYUNDAI EVERDIGM HLC-3014.pdf
                        </h3>
                        <div class="documents__card-size">
                            2,2 МБ
                        </div>
                        <div class="documents__card-download">
                            <span class="documents__card-download-text">
                                Скачать
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            {{/times}}
        </ul>
        <div class="pagination">
            <ul class="pagination__pages-list">
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link active">
                        01
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        02
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        03
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        04
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        05
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        06
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        07
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        ...
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        26
                    </a>
                </li>
            </ul>
            <div class="pagination__arrows">
                <button class="pagination__arrow pagination__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="pagination__arrow pagination__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>