<section class="employees-reviews">
    <div class="employees-reviews__content">
        <div class="employees-reviews__top-row">
            <h2 class="employees-reviews__heading">
                Вот что говорят наши сотрудники
            </h2>
            <div class="employees-reviews__arrows">
                <button class="employees-reviews__arrow employees-reviews__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="employees-reviews__arrow employees-reviews__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="employees-reviews__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="employees-reviews__slider-card">
                            <div class="employees-reviews__slider-card-top-row">
                                <div class="employees-reviews__slider-card-content">
                                    <h3 class="employees-reviews__slider-card-title">
                                        Гурьянова Мария
                                    </h3>
                                    <div class="employees-reviews__slider-card-role">
                                        Старший менеджер продаж
                                    </div>
                                </div>
                                <div class="employees-reviews__slider-card-photo-container">
                                    <img src="/images/employee.webp" alt=""
                                        class="employees-reviews__slider-card-photo">
                                </div>
                            </div>
                            <div class="employees-reviews__slider-card-text">
                                В Интехкрансервис я работаю пятый год, и мне всё нравится. Я начинала младшим
                                менеджером, а стала старшим и через месяц становлюсь руководителем направления. Мне
                                нравятся тренинги компании, личностное развитие и то, как компания заботитсяо здоровье.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="employees-reviews__slider-card">
                            <div class="employees-reviews__slider-card-top-row">
                                <div class="employees-reviews__slider-card-content">
                                    <h3 class="employees-reviews__slider-card-title">
                                        Наумов Иван
                                    </h3>
                                    <div class="employees-reviews__slider-card-role">
                                        Младший менеджер продаж
                                    </div>
                                </div>
                                <div class="employees-reviews__slider-card-photo-container">
                                    <img src="/images/employee-2.webp" alt=""
                                        class="employees-reviews__slider-card-photo">
                                </div>
                            </div>
                            <div class="employees-reviews__slider-card-text">
                                В Интехкрансервис я работаю пятый год, и мне всё нравится. Я начинала младшим
                                менеджером, а стала старшим и через месяц становлюсь руководителем направления.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="employees-reviews__slider-card">
                            <div class="employees-reviews__slider-card-top-row">
                                <div class="employees-reviews__slider-card-content">
                                    <h3 class="employees-reviews__slider-card-title">
                                        Гурьянова Мария
                                    </h3>
                                    <div class="employees-reviews__slider-card-role">
                                        Старший менеджер продаж
                                    </div>
                                </div>
                                <div class="employees-reviews__slider-card-photo-container">
                                    <img src="/images/employee.webp" alt=""
                                        class="employees-reviews__slider-card-photo">
                                </div>
                            </div>
                            <div class="employees-reviews__slider-card-text">
                                В Интехкрансервис я работаю пятый год, и мне всё нравится. Я начинала младшим
                                менеджером, а стала старшим и через месяц становлюсь руководителем направления. Мне
                                нравятся тренинги компании, личностное развитие и то, как компания заботитсяо здоровье.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="employees-reviews__slider-card">
                            <div class="employees-reviews__slider-card-top-row">
                                <div class="employees-reviews__slider-card-content">
                                    <h3 class="employees-reviews__slider-card-title">
                                        Наумов Иван
                                    </h3>
                                    <div class="employees-reviews__slider-card-role">
                                        Младший менеджер продаж
                                    </div>
                                </div>
                                <div class="employees-reviews__slider-card-photo-container">
                                    <img src="/images/employee-2.webp" alt=""
                                        class="employees-reviews__slider-card-photo">
                                </div>
                            </div>
                            <div class="employees-reviews__slider-card-text">
                                В Интехкрансервис я работаю пятый год, и мне всё нравится. Я начинала младшим
                                менеджером, а стала старшим и через месяц становлюсь руководителем направления.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>