<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__top-text">
                Получайте специальные предложения в нашей<br> закрытой рассылке
            </div>
            <div class="page-footer__subscribe">
                <div class="page-footer__subscribe-row">
                    <input type="search" name="q" class="page-footer__subscribe-input" placeholder="Почта">
                    <button class="page-footer__submit">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="page-footer__middle-row">
            <div class="page-footer__left-col">
                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.webp" alt="" class="page-footer__logo-image">
                </a>
                <div class="page-footer__contacts">
                    <h4 class="page-footer__contacts-title">
                        Всегда на связи
                    </h4>
                    <div class="page-footer__links-wrapper">
                        <a href="tel:+78006000083" class="page-footer__phone-link">
                            8-800-600-00-83
                        </a>
                        <a href="mailto:info@intexgk.ru" class="page-footer__email-link">
                            info@intexgk.ru
                        </a>
                    </div>
                    <ul class="page-footer__contacts-social-list">
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__social">
                    <h4 class="page-footer__social-title">
                        Следите за новостями
                    </h4>
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__right-col">
                <nav class="page-footer__nav">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Техника
                            </a>
                            <ul class="page-footer__submenu-list">
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Продажа
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Аренды
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Запчасти
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Мониторинговые системы
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Сервис
                            </a>
                            <ul class="page-footer__submenu-list">
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Сервисное обслуживание
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Гарантийный ремонт
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Постгарантийный ремонт
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Финансирование
                            </a>
                            <ul class="page-footer__submenu-list">
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Trade-in
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Специальные предложения
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Лизинг и кредитные программы
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                О компании
                            </a>
                            <ul class="page-footer__submenu-list">
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Деятельность
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Вакансии
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Пресс-центр
                            </a>
                            <ul class="page-footer__submenu-list">
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Новости
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Фото/видео
                                    </a>
                                </li>
                                <li class="page-footer__submenu-list-item">
                                    <a href="#" class="page-footer__submenu-link">
                                        Полезные материалы
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Производство КМУ
                            </a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                @ 2002-2023 ИНТЕХСЕРВИС
            </div>
            <a href="#" class="page-footer__made-by">
                Это сделал
                <img src="/images/onheet.svg" alt="" class="page-footer__made-by-image">
            </a>
        </div>
    </div>
</footer>


{{> callback-modal }}