<section class="geography">
    <div class="geography__content">
        <div class="geography__map-wrapper">
            <img src="/images/map.svg" alt="" class="geography__map">
        </div>
        <div class="geography__top-row">
            <h2 class="geography__heading">
                География<br> наших поставок
            </h2>
            <div class="geography__text">
                В этих точки мы доставили наше лучшее оборудование точно в сроки
            </div>
        </div>
    </div>
</section>