<header class="page-header">
    <div class="page-header__row">
        <a href="#" class="page-header__logo">
            <img src="/images/logo.webp" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__mobile-menu">

            <div class="page-header__mobile-menu-wrapper">


                <div class="page-header__catalog">
                    <button class="page-header__catalog-btn">
                        <span class="page-header__catalog-btn-text">
                            Каталог
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#excavator"></use>
                        </svg>
                    </button>
                    <div class="page-header__catalog-dropdown">
                        <div class="page-header__catalog-dropdown-inner">
                            <ul class="page-header__catalog-list">
                                <li class="page-header__catalog-list-item">
                                    <a href="#" class="page-header__catalog-link">
                                        Продажа
                                    </a>
                                </li>
                                <li class="page-header__catalog-list-item">
                                    <a href="#" class="page-header__catalog-link">
                                        Аренды
                                    </a>
                                </li>
                                <li class="page-header__catalog-list-item">
                                    <a href="#" class="page-header__catalog-link">
                                        Запчасти
                                    </a>
                                </li>
                                <li class="page-header__catalog-list-item">
                                    <a href="#" class="page-header__catalog-link">
                                        Мониторинговые системы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="page-header__menu">
                    <button class="page-header__menu-btn">
                        <span class="page-header__menu-btn-text">
                            Меню
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#menu"></use>
                        </svg>
                    </button>
                    <div class="page-header__menu-dropdown">
                        <div class="page-header__menu-dropdown-inner">
                            <ul class="page-header__menu-dropdown-list">
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        Производство
                                    </a>
                                </li>
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        Сервис
                                    </a>
                                </li>
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        О компании
                                    </a>
                                </li>
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        Финансирование
                                    </a>
                                </li>
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        Пресс-центр
                                    </a>
                                </li>
                                <li class="page-header__menu-dropdown-list-item">
                                    <a href="#" class="page-header__menu-dropdown-link">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="page-header__callback-btn">
                    Связаться
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="page-header__social">
                <ul class="page-header__social-list">
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <button class="page-header__burger">
            <span class="page-header__burger-text">
                Меню
            </span>
            <span class="page-header__burger-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#burger-closed"></use>
                </svg>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#burger-open"></use>
                </svg>
            </span>
        </button>
    </div>
</header>