<section class="history">
    <div class="history__content">
        <div class="history__top-row">
            <h2 class="history__heading">
                История
            </h2>
            <div class="history__arrows">
                <button class="history__arrow history__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="history__arrow history__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="history__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="history__slider-empty-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2001
                            </div>
                            <div class="history__slider-card-text">
                                В 2001 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/1.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2002
                            </div>
                            <div class="history__slider-card-text">
                                В 2002 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/2.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2004
                            </div>
                            <div class="history__slider-card-text">
                                В 2002 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/3.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2005
                            </div>
                            <div class="history__slider-card-text">
                                В 2001 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/1.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2006
                            </div>
                            <div class="history__slider-card-text">
                                В 2002 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/2.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-scale">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="history__slider-card-year">
                                2007
                            </div>
                            <div class="history__slider-card-text">
                                В 2002 году мы запустились.
                                Первое направление — продажа конкретной техники
                            </div>
                            <div class="history__slider-card-image-container">
                                <img src="/images/history/3.webp" alt="" class="history__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>