<section class="intro-slider js-fixed-section">
    <div class="intro-slider__content">
        <div class="intro-slider__wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-bg">
                                <img src="/images/intro.webp" alt="" class="intro-slider__card-bg-image">
                            </div>
                            <div class="intro-slider__card-row">


                                <div class="intro-slider__card-pagination">
                                    01/03
                                </div>
                                <div class="intro-slider__card-content">
                                    <div class="intro-slider__card-text">
                                        Предоставляем оборудование мирового производителя XCMG по всей России
                                    </div>
                                    <a href="#" class="intro-slider__card-link">
                                        Перейти в каталог
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-bg">
                                <img src="/images/intro.webp" alt="" class="intro-slider__card-bg-image">
                            </div>
                            <div class="intro-slider__card-row">
                                <div class="intro-slider__card-pagination">
                                    02/03
                                </div>
                                <div class="intro-slider__card-content">
                                    <div class="intro-slider__card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, sapiente.
                                    </div>
                                    <a href="#" class="intro-slider__card-link">
                                        Перейти в каталог
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-bg">
                                <img src="/images/intro.webp" alt="" class="intro-slider__card-bg-image">
                            </div>
                            <div class="intro-slider__card-row">
                                <div class="intro-slider__card-pagination">
                                    03/03
                                </div>
                                <div class="intro-slider__card-content">
                                    <div class="intro-slider__card-text">
                                        Предоставляем оборудование мирового производителя XCMG по всей России
                                    </div>
                                    <a href="#" class="intro-slider__card-link">
                                        Перейти в каталог
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-slider__top-row">
            <div class="intro-slider__small-title">
                Группа<br> компаний
            </div>
            <div class="intro-slider__main-heading">
                Интехкрансервис
            </div>
        </div>
        <div class="intro-slider__arrows">
            <button class="intro-slider__arrow intro-slider__arrow--prev">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-thin-arrow-left"></use>
                </svg>
            </button>
            <button class="intro-slider__arrow intro-slider__arrow--next">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-thin-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>