<section class="news-detail">
    <div class="news-detail__content">
        <div class="news-detail__top">
            <h1 class="news-detail__heading">
                23 Международная строительная выставка CTT Expo
            </h1>
            <div class="news-detail__date">
                6 июля 2023
            </div>
            <div class="news-detail__text">
                23-я Международная строительная выставка CTT Expo оказалась более впечатляющей, чем ожидалось. В ней
                было продемонстрировано большое разнообразие новинок в разных областях, включая экскаваторы.
            </div>
        </div>
        <div class="news-detail__preview">
            <img src="/images/news-detail.webp" alt="" class="news-detail__preview-image">
        </div>
        <div class="news-detail__text-content">
            <div class="news-detail__text-content-inner">
                <h2>
                    Как это было?
                </h2>
                <p>
                    «Трансмехсервис» представил на выставке свои новые разработки под собственным брендом TMS, которые
                    были разработаны совместно с южнокорейской компанией Hyundai Doosan. Также на стенде компании были
                    представлены новые модели спецтехники, такие как Develon и TMS,а также бульдозеры TMS D26 и
                    погрузчики.
                </p>
                <p>
                    Для российского рынка были продемонстрированы отечественные новинки, такие как гусеничные
                    экскаваторы "КРАНЭКС". Компания представила две новые модели из 10 серии,в которую входят восемь
                    моделей весом от 21 800 до 51 000 килограмм. Две модели были представлены на CTT Expo: экскаватор EK
                    240 массой 21 800 килограмм и мощностью 169 лошадиных сил с ковшом объемом 1,1 м³.
                </p>
                <img src="/images/news-detail-image.webp" alt="">
                <h2>
                    Новые модели
                </h2>
                <p>
                    «Трансмехсервис» представил на выставке свои новые разработки под собственным брендом TMS, которые
                    были разработаны совместно с южнокорейской компанией Hyundai Doosan. Также на стенде компании были
                    представлены новые модели спецтехники, такие как Develon и TMS,а также бульдозеры TMS D26 и
                    погрузчики:
                </p>
                <ul>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                </ul>
                <p>
                    «Трансмехсервис» представил на выставке свои новые разработки под собственным брендом TMS, которые
                    были разработаны совместно с южнокорейской компанией Hyundai Doosan. Также на стенде компании были
                    представлены новые модели спецтехники, такие как Develon и TMS,a также бульдозеры TMS D26 и
                    погрузчики:
                </p>
                <ol>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                    <li>
                        Название пункта
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>