<section class="other-services">
    <div class="other-services__content">
        <h2 class="other-services__heading">
            Другие наши услуги
        </h2>
        <div class="other-services__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="other-services__card">
                            <div class="other-services__card-image-container">
                                <img src="/images/other-services/1.webp" alt="" class="other-services__card-image">
                            </div>
                            <div class="other-services__card-content">
                                <h3 class="other-services__card-title">
                                    Trade-in
                                </h3>
                                <img src="/images/other-services/1.svg" alt="" class="other-services__card-icon">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="other-services__card">
                            <div class="other-services__card-image-container">
                                <img src="/images/other-services/2.webp" alt="" class="other-services__card-image">
                            </div>
                            <div class="other-services__card-content">
                                <h3 class="other-services__card-title">
                                    Тест-драйв
                                </h3>
                                <img src="/images/other-services/2.svg" alt="" class="other-services__card-icon">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="other-services__card">
                            <div class="other-services__card-image-container">
                                <img src="/images/other-services/3.webp" alt="" class="other-services__card-image">
                            </div>
                            <div class="other-services__card-content">
                                <h3 class="other-services__card-title">
                                    Финансирование
                                </h3>
                                <img src="/images/other-services/3.svg" alt="" class="other-services__card-icon">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>