<section class="press-center">
    <div class="press-center__content">
        <div class="press-center__top-row">
            <h2 class="press-center__heading">
                Другие новости
            </h2>
            <div class="press-center__arrows">
                <button class="press-center__arrow press-center__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="press-center__arrow press-center__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="press-center__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/1.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/2.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Какие бывают мини-экскаваторы и как нужно выбрать
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/3.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/1.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/2.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Какие бывают мини-экскаваторы и как нужно выбрать
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-center__slider-card">
                            <div class="press-center__slider-card-image-container">
                                <img src="/images/press-center/3.webp" alt="" class="press-center__slider-card-image">
                            </div>
                            <div class="press-center__slider-card-date">
                                1 августа, 2023
                            </div>
                            <h3 class="press-center__slider-card-title">
                                Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>