<section class="press-center-catalog">
    <div class="press-center-catalog__content">
        <ul class="press-center-catalog__list">
            {{#times 8}}
                <li class="press-center-catalog__list-item">
                    <a href="#" class="press-center__slider-card">
                        <div class="press-center__slider-card-image-container">
                            <img src="/images/press-center/1.webp" alt="" class="press-center__slider-card-image">
                        </div>
                        <div class="press-center__slider-card-date">
                            1 августа, 2023
                        </div>
                        <h3 class="press-center__slider-card-title">
                            Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                        </h3>
                    </a>
                </li>
                <li class="press-center-catalog__list-item">
                    <a href="#" class="press-center__slider-card">
                        <div class="press-center__slider-card-image-container">
                            <img src="/images/press-center/2.webp" alt="" class="press-center__slider-card-image">
                        </div>
                        <div class="press-center__slider-card-date">
                            1 августа, 2023
                        </div>
                        <h3 class="press-center__slider-card-title">
                            Какие бывают мини-экскаваторы и как нужно выбрать
                        </h3>
                    </a>
                </li>
                <li class="press-center-catalog__list-item">
                    <a href="#" class="press-center__slider-card">
                        <div class="press-center__slider-card-image-container">
                            <img src="/images/press-center/3.webp" alt="" class="press-center__slider-card-image">
                        </div>
                        <div class="press-center__slider-card-date">
                            1 августа, 2023
                        </div>
                        <h3 class="press-center__slider-card-title">
                            Самосвалы howo: особенности грузовых автомобилей, технические характеристики
                        </h3>
                    </a>
                </li>
            {{/times}}
        </ul>
        <div class="pagination">
            <ul class="pagination__pages-list">
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link active">
                        01
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        02
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        03
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        04
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        05
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        06
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        07
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        ...
                    </a>
                </li>
                <li class="pagination__pages-list-item">
                    <a href="#" class="pagination__pages-link">
                        26
                    </a>
                </li>
            </ul>
            <div class="pagination__arrows">
                <button class="pagination__arrow pagination__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="pagination__arrow pagination__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>