<section class="press-center-header">
    <div class="press-center-header__content">
        <h1 class="press-center-header__main-heading">
            Пресс-центр
        </h1>

        <ul class="press-center-header__nav-list">
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link active">
                    все
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    Новости
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    Полезные материалы
                </a>
            </li>
            <li class="press-center-header__nav-list-item">
                <a href="#" class="press-center-header__nav-link">
                    Обзоры
                </a>
            </li>
        </ul>

    </div>
</section>