<section class="advantages js-cards-stacking">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Верны своим принципам
        </h2>
        <div class="advantages__row">
            <div class="advantages__principles-text">
                За все время работы компания зарекомендовала себя, как надежного и проверенного партнера. В основу всех
                наших действий мы закладываем
            </div>
            <ol class="advantages__list js-stacking-list">
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Честность
                            </h3>
                            <img src="/images/principles/1.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                выполнения взятых обязательств
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Качество
                            </h3>
                            <img src="/images/principles/2.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                выполнения взятых обязательств
                            </div>
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__card js-card">
                        <div class="advantages__card-content js-card-content">
                            <h3 class="advantages__card-title">
                                Скорость
                            </h3>
                            <img src="/images/principles/3.svg" alt="" class="advantages__card-icon">
                            <div class="advantages__card-text">
                                выполнения взятых обязательств
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>