<section class="product-header">
    <div class="product-header__content">
        <div class="product-header__bg">
            <img src="/images/product.webp" alt="" class="product-header__bg-image">
        </div>
        <a href="#" class="product-header__back-link">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
            </svg> Назад
        </a>
        <h1 class="product-header__heading">
            Короткобазный кран XCR55L5_S
        </h1>
        <div class="product-header__row">
            <div class="product-header__links">
                <a href="#" class="product-header__link product-header__link--filled js-open-callback-modal">
                    Заказать
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="product-header__link">
                    Узнать цену
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="product-header__specs">
                <ul class="product-header__specs-list">
                    <li class="product-header__specs-list-item">
                        <div class="product-header__specs-card">
                            <h3 class="product-header__specs-card-key">
                                Грузовой момент до
                            </h3>
                            <div class="product-header__specs-card-value">
                                2033,5 кН*м
                            </div>
                        </div>
                    </li>
                    <li class="product-header__specs-list-item">
                        <div class="product-header__specs-card">
                            <h3 class="product-header__specs-card-key">
                                Грузоподъемность до,
                            </h3>
                            <div class="product-header__specs-card-value">
                                55 т
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>