<section class="services">
    <div class="services__content">
        <div class="services__top-row">
            <h2 class="services__heading">
                Услуги
            </h2>
            <div class="services__text">
                Занимаемся обслуживанием грузоподъемной, дорожно-строительной и строительной техники от производителя
                XCMG
            </div>
        </div>
        <div class="services__slider">
            <div class="swiper">
                <ul class="swiper-wrapper services__list">
                    <li class="swiper-slide services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Сервисное обслуживание
                            </h3>
                            <img src="/images/services/1.svg" alt="" class="services__card-icon">
                            <div class="services__card-text">
                                Вы можете воспользоваться всеми видами гарантийного и постгарантийного ремонта
                            </div>
                            <div class="services__card-btn">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Trade-in
                            </h3>
                            <img src="/images/services/2.svg" alt="" class="services__card-icon">
                            <div class="services__card-text">
                                Вы можете воспользоваться всеми видами гарантийного и постгарантийного ремонта
                            </div>
                            <div class="services__card-btn">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Тест-драйв
                            </h3>
                            <img src="/images/services/3.svg" alt="" class="services__card-icon">
                            <div class="services__card-text">
                                Вы можете воспользоваться всеми видами гарантийного и постгарантийного ремонта
                            </div>
                            <div class="services__card-btn">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Финансирование
                            </h3>
                            <img src="/images/services/4.svg" alt="" class="services__card-icon">
                            <div class="services__card-text">
                                Вы можете воспользоваться всеми видами гарантийного и постгарантийного ремонта
                            </div>
                            <div class="services__card-btn">
                                Подробнее
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>