<section class="service-cases">
    <div class="service-cases__content">
        <h2 class="service-cases__heading">
            Сервисные случаи
        </h2>
        <div class="service-cases__row">
            <div class="service-cases__text">
                Помогаем и сопровождаем вас на&nbsp;протяжении всей экспулатации нашей техники
            </div>
            <ol class="service-cases__list">
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Предпродажная подготовка и ввод в эксплуатацию (на вашей территории)
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Плановое техническое обслуживание c выездом к клиенту
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Все виды гарантийного и постгарантийного ремонта
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Обеспечение оригинальными запчастями
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Документальное сопровождение переоборудования шасси
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Консультации по телефону
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Диагностика состояния, рекомендации по эксплуатации, прогноз износа узлов/агрегатов и
                            ремонту
                        </div>
                    </div>
                </li>
                <li class="service-cases__list-item">
                    <div class="service-cases__card">
                        <div class="service-cases__card-text">
                            Ремонт любой сложности в специализированном сервисном центре
                        </div>
                    </div>
                </li>
            </ol>
        </div>


    </div>
</section>