<section class="team">
    <div class="team__content">
        <div class="team__wrapper">
            <div class="team__top-row">
                <h2 class="team__heading">
                    Сотрудники
                </h2>
                <div class="team__text">
                    Компетентность наших специалистов подтверждена наличием соответствующих квалификационных
                    удостоверений
                    экспертов
                </div>
            </div>
            <div class="team__tabs js-tabs">
                <div class="team__tabs-nav">
                    <ul class="team__tabs-nav-list">
                        <li class="team__tabs-nav-list-item">
                            <a href="#" class="team__tabs-nav-link js-tabs-btn active">
                                Руководство
                            </a>
                        </li>
                        <li class="team__tabs-nav-list-item">
                            <a href="#" class="team__tabs-nav-link js-tabs-btn">
                                Отдел продаж
                            </a>
                        </li>
                        <li class="team__tabs-nav-list-item">
                            <a href="#" class="team__tabs-nav-link js-tabs-btn">
                                Отдел поддержки
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="team__tabs-items">
                    <div class="team__tabs-item js-tabs-item active">
                        <ul class="team__list">
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="team__tabs-item js-tabs-item">
                        <ul class="team__list">
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="team__tabs-item js-tabs-item">
                        <ul class="team__list">
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Иван Иванов
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team__list-item">
                                <div class="team__card">
                                    <div class="team__card-photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team__card-photo">
                                    </div>
                                    <div class="team__card-content">
                                        <div class="team__card-name">
                                            Александр Австриевских
                                        </div>
                                        <div class="team__card-role">
                                            Генеральный директор
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="team__become-part">
            <div class="team__become-part-text">
                Стать частью команды<br>
                «Интехкрансервис»
            </div>
            <div class="team__become-part-arrow">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#large-diagonal-arrow"></use>
                </svg>
            </div>
        </a>
    </div>
</section>