<section class="technic">
    <div class="technic__content">
        <div class="technic__top-row">
            <h2 class="technic__heading">
                Техника XCMG
            </h2>
            <div class="technic__arrows">
                <button class="technic__arrow technic__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-left"></use>
                    </svg>
                </button>
                <button class="technic__arrow technic__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-thin-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="technic__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="technic__slider-group">
                            <div class="technic__slider-card">
                                <img src="/images/technic/1.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Крано-манипуляторные установки
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        подъемная способность, т
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                5
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                10
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                15
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                20
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                30
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="technic__slider-card">
                                <img src="/images/technic/2.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Асфальтоукладчики
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        Мощность, кВт
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                140
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                129
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="technic__slider-card">
                                <img src="/images/technic/3.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Автокраны
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        Грузоподъемность, т
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                5
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                10
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                15
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                20
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                30
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="technic__slider-group">
                            <div class="technic__slider-card">
                                <img src="/images/technic/1.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Крано-манипуляторные установки
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        подъемная способность, т
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                5
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                10
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                15
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                20
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                30
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="technic__slider-card">
                                <img src="/images/technic/2.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Асфальтоукладчики
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        Мощность, кВт
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                140
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                129
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="technic__slider-card">
                                <img src="/images/technic/3.webp" alt="" class="technic__slider-card-image">
                                <h3 class="technic__slider-card-title">
                                    Автокраны
                                </h3>
                                <div class="technic__slider-card-text">
                                    Крано-манипуляторная установка (КМУ) применяется для разгрузки-выгрузки с кузова
                                    автомобиля без применения крана.
                                </div>
                                <div class="technic__slider-card-specs">
                                    <div class="technic__slider-card-specs-title">
                                        Грузоподъемность, т
                                    </div>
                                    <ul class="technic__slider-card-specs-list">
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                5
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                10
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                15
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                20
                                            </div>
                                        </li>
                                        <li class="technic__slider-card-specs-list-item">
                                            <div class="technic__slider-card-specs-item">
                                                30
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>