<section class="trusted">
    <div class="trusted__content">
        <h2 class="trusted__heading">
            Нам доверяют
        </h2>
        <div class="trusted__sliders">
            <div class="trusted__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/1.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/2.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/3.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/4.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/5.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trusted__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/1.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/2.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/3.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/4.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="trusted__slider-card">
                                <img src="/images/trusted/5.webp" alt="" class="trusted__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>