<section class="vacancies">
    <div class="vacancies__content">
        <div class="vacancies__top-row">
            <h2 class="vacancies__heading">
                Актуальные вакансии
            </h2>
            <div class="vacancies__text">
                Найди свое место в нашей команде.<br> Сейчас нам требуются:
            </div>
        </div>
        <div class="vacancies__tabs js-tabs">
            <div class="vacancies__tabs-nav">
                <ul class="vacancies__tabs-nav-list">
                    <li class="vacancies__tabs-nav-list-item">
                        <button class="vacancies__tabs-nav-btn js-tabs-btn">
                            все
                        </button>
                    </li>
                    <li class="vacancies__tabs-nav-list-item">
                        <button class="vacancies__tabs-nav-btn js-tabs-btn">
                            Отдел продаж
                        </button>
                    </li>
                    <li class="vacancies__tabs-nav-list-item">
                        <button class="vacancies__tabs-nav-btn js-tabs-btn">
                            Отдел поддержки
                        </button>
                    </li>
                </ul>
            </div>
            <div class="vacancies__tabs-items">
                {{#times 3}}
                    <div class="vacancies__tabs-item js-tabs-item">
                        <ul class="vacancies__accordions-list">
                            {{#times 4}}
                                <li class="vacancies__accordions-list-item">
                                    <div class="vacancies__accordion js-accordion" data-close-other="">
                                        <button class="vacancies__accordion-btn js-accordion-btn">
                                            <span class="vacancies__accordion-btn-content">
                                                <span class="vacancies__accordion-btn-title">
                                                    Менеджер по продаже башенных кранов
                                                </span>
                                                <span class="vacancies__accordion-btn-role">
                                                    Полная занятость • Опыт работы от 3 лет • Казань
                                                </span>
                                            </span>
                                            <span class="vacancies__accordion-btn-price">
                                                от 100 000 ₽
                                            </span>
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#accordion-arrow"></use>
                                            </svg>
                                        </button>
                                        <div class="vacancies__accordion-content js-accordion-content">
                                            <div class="vacancies__accordion-content-inner">
                                                <div class="vacancies__accordion-block">
                                                    <h3 class="vacancies__accordion-block-title">
                                                        Обязанности
                                                    </h3>
                                                    <ul class="vacancies__accordion-block-list">
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Работа по базе крупных оптовых производителей;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Создание исходящего трафика;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Выявление и анализ потребностей потенциальных заказчиков;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Ведение переговоров, проведение встреч, подготовка
                                                            коммерческих
                                                            предложений, участие в согласовании договоров;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Отправка готовых предложений по e-mail потенциальным
                                                            клиентам;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Посещение выставок и конференций;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Поездки в командировку для личных продаж.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="vacancies__accordion-block">
                                                    <h3 class="vacancies__accordion-block-title">
                                                        Требования
                                                    </h3>
                                                    <ul class="vacancies__accordion-block-list">
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Подтвержденный опыт в продажах IT-услуг/проектов для
                                                            бизнеса;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Умение устанавливать и поддерживать деловые контакты;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Умение готовить презентации и коммерческие предложения;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Знание современных технологий и тенденций в IT.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="vacancies__accordion-block">
                                                    <h3 class="vacancies__accordion-block-title">
                                                        Условия
                                                    </h3>
                                                    <ul class="vacancies__accordion-block-list">
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Комфортный, современный офис в центре Казани (5 мин до
                                                            метро);
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            График работы – пятидневная рабочая неделя, полный день;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Заработная плата по итогам собеседования;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Оформление по ТК РФ;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Оклад + %;
                                                        </li>
                                                        <li class="vacancies__accordion-block-list-item">
                                                            Семинары, тренинги, проф. литература за счёт компании.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <a href="#need-career"
                                                    class="vacancies__accordion-callback-btn js-anchor">
                                                    Откликнуться
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/times}}
                        </ul>
                    </div>
                {{/times}}
            </div>
        </div>
    </div>
</section>