.become-client {
  @include blockWrapper;
  margin-bottom: 6rem;
  margin-top: -8.8rem;
  position: relative;
  z-index: 30;

  @include breakpoint(mobile) {
    margin-bottom: 3rem;
    margin-top: -3.8rem;
  }
}

.become-client__content {
  @include blockContent;
  border-radius: 2rem;
  background: white;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  padding: 2.2rem var(--side-padding);

  @include breakpoint(mobile) {
    border-radius: 1.5rem;
    padding: 3rem var(--content-padding);
    margin: 0 calc(-1 * var(--content-padding));
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1.8rem;
    grid-row-gap: 1rem;
    align-content: flex-start;
    grid-template-areas: "title arrow" "text arrow";
    grid-column-gap: 5rem;
  }
}

.become-client__heading {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5rem;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    grid-area: title;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
}

.become-client__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.become-client__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a2a5c3;
  max-width: 26.4rem;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    max-width: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: text;
  }
}

.become-client__arrow {
  width: 16rem;
  height: 16rem;
  display: grid;
  place-items: center;

  border-radius: 2rem;
  background: #f5f6f6;
  flex-shrink: 0;
  margin-right: -3.2rem;
  transition: background-color 0.2s;
  svg {
    display: block;
    width: 6.2rem;
    height: 6.2rem;
    fill: var(--primary-color);
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color);
      svg {
        fill: white;
      }
    }
  }

  @include breakpoint(mobile) {
    width: 7rem;
    height: 7rem;
    margin: 0;
    border-radius: 0.6rem;
    grid-area: arrow;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}
