.directions {
  @include blockWrapper;
  position: relative;
  z-index: 10;
  margin-top: -5.5rem;

  &--standalone {
    margin-bottom: 8rem;
  }

  @include breakpoint(mobile) {
    margin-top: -3rem;

    &--standalone {
      margin-bottom: 3rem;
    }
  }
}

.directions__desktop-content {
  @include blockContent;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.8rem;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;

  @include breakpoint(mobile) {
    display: none;
  }
}

.directions__left-col {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  padding-top: 5.5rem;
  padding-bottom: 10.5rem;
  display: flex;
  flex-direction: column;
}

.directions__heading {
  @include sectionHeading;
  margin-bottom: 13.6rem;
}

.directions__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.directions__link {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: 3rem;
  color: #a2a5c3;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: #a2a5c3;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: 11.3rem;
    height: 1px;
    transform-origin: left center;
    background-color: #a2a5c3;
    transform: scaleX(0.2);
    transition: transform 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      color: #02073e;
    }
  }

  &.active {
    color: #02073e;
    &::before {
      transform: scaleX(1);
    }
  }
}

.directions__right-col {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.directions__slider {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .swiper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.directions__slider-card {
  position: relative;
  z-index: 1;
  color: white;
  flex-grow: 1;
  &:link,
  &:visited {
    color: white;
  }
}

.directions__slider-card-image-container {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }
}

.directions__slider-card-image {
  @include imageFill;
}

.directions__slider-card-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 5.2rem;
  padding-bottom: 10.6rem;
  gap: 3rem;
}

.directions__slider-card-category {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: 3rem;
}

.directions__slider-card-text {
  margin-top: auto;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.directions__mobile-content {
  display: none;
  @include breakpoint(mobile) {
    @include blockContent;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    .directions--standalone & {
      padding-bottom: 2rem;
    }
  }
}

.directions__mobile-heading {
  @include sectionHeading;

  @include breakpoint(mobile) {
    margin-bottom: 1.5rem;
  }
}

.directions__accordions-list-item {
  border-bottom: 1px solid #e2e4eb;
  &:last-child {
    border: none;
  }
}

.directions__accordion-btn {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.8rem;
  transition: color 0.2s;
  color: #02073e;
  justify-content: space-between;
  svg {
    flex-shrink: 0;
    width: 2.6rem;
    height: 2.6rem;
    fill: #a2a5c3;
    transition: fill 0.2s, transform 0.2s;
  }

  .js-accordion.active & {
    color: var(--primary-color);
    svg {
      fill: #02073e;
      transform: rotate(180deg);
    }
  }
}

.directions__accordion-content {
  height: 0;
  overflow: hidden;
}

.directions__accordion-content-inner {
  padding-bottom: 1.2rem;
}

.directions__mobile-card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  border-radius: 0.6rem;
  overflow: hidden;
  color: white;

  &:link,
  &:visited {
    color: white;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 70%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.directions__mobile-card-bg-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }
}

.directions__mobile-card-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.directions__mobile-card-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.6rem 1.8rem;
}

.directions__mobile-card-title {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.5rem;
}
