.documents {
  @include blockWrapper;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    margin-bottom: 5rem;
  }
}

.documents__content {
  @include blockContent;
  padding: 0 var(--side-padding);
  padding-top: 2rem;
  @include breakpoint(mobile) {
    padding: 0;
  }
}

.documents__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
}

.documents__list-item {
  display: flex;
  flex-direction: column;
}

.documents__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 27.2rem;
  padding: 2.2rem 2.5rem;
  border-radius: 1rem;
  background: white;
  gap: 1rem;

  @include breakpoint(mobile) {
    min-height: 11.1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "title title" "size size" "format download";
    min-height: auto;
  }
}

.documents__card-format-icon {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;

  @include breakpoint(mobile) {
    width: 2.4rem;
    height: 2.4rem;
    grid-area: format;
    align-self: center;
    margin-left: -0.3rem;
  }
}

.documents__card-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.8rem;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    grid-area: title;
    margin: 0;
  }
}

.documents__card-size {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a2a5c3;
  @include breakpoint(mobile) {
    grid-area: size;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.5rem;
  }
}

.documents__card-download {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.026rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: auto;

  svg {
    display: none;
  }

  @include breakpoint(mobile) {
    grid-area: download;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    align-self: center;
    margin: 0;
    justify-self: flex-end;
    svg {
      display: block;
      height: 100%;
      width: 100%;
      fill: var(--primary-color);
    }
  }
}

.documents__card-download-text {
  @include breakpoint(mobile) {
    display: none;
  }
}
