.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "prev list next";
    grid-gap: 2rem;
    align-items: center;
  }
}

.pagination__pages-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.8rem;
  row-gap: 1.4rem;

  @include breakpoint(mobile) {
    gap: 2rem;
    row-gap: 1rem;
    grid-area: list;
    justify-self: center;
  }
}

.pagination__pages-list-item {
  flex-wrap: 0;

  @include breakpoint(mobile) {
    display: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-last-child(2),
    &:last-child {
      display: block;
    }
  }
}

.pagination__pages-link {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  color: #a2a5c3;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: #a2a5c3;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }

  &.active {
    color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }
}

.pagination__arrows {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.pagination__arrow {
  flex-shrink: 0;
  width: 6.4rem;
  height: 6.4rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  border: 1px solid #a2a5c3;
  transition: opacity 0.2s, border-color 0.2s;
  svg {
    width: 4.5rem;
    height: 4.5rem;
    fill: #a2a5c3;
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        border-color: var(--primary-color);
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 0.5rem;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &--prev {
      grid-area: prev;
    }

    &--next {
      grid-area: next;
    }
  }
}
