.service-header {
  @include blockWrapper;
}

.service-header__content {
  @include blockContent;
  min-height: 68rem;
  display: flex;
  flex-direction: column;
  padding: 0 var(--side-padding);
  padding-bottom: 12.4rem;
  padding-top: 6.6rem;
  position: relative;
  z-index: 1;
  border-radius: 2rem 2rem 0px 0px;
  overflow: hidden;
  color: white;

  @include breakpoint(mobile) {
    min-height: 36.5rem;
    padding: 0 var(--content-padding);
    margin: 0 calc(-1 * var(--content-padding));
    padding-top: 5.2rem;
    padding-bottom: 9.8rem;
    border-radius: 1.5rem 1.5rem 0px 0px;
  }
}

.service-header__bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #02073e;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(2, 1, 14, 0.58) 0%,
      rgba(2, 1, 14, 0.58) 100%
    );
  }
}

.service-header__bg-image {
  @include imageFill;
}

.service-header__heading {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
}

.service-header__bottom-row {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 1.8rem;
  align-items: flex-start;

  @include breakpoint(mobile) {
    display: block;
  }
}

.service-header__text {
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 450;
  line-height: 3rem;
  grid-column: 2 / 6;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1.8rem;
  }
}

.service-header__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a2a5c3;
  transition: color 0.2s;
  justify-self: flex-end;
  grid-column: 7 / -1;
  svg {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    fill: currentColor;
  }
  &:link,
  &:visited {
    color: #a2a5c3;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}
